 img {

       width: 100%;
    }
    table {


          width: 100%;

    }
    td {

       background: #fff;
       color: #045FB4;
       padding: 2%;


    }
    td:hover {


        transition: height 1s ease-in 1s;

    }
    #test1 {

         
         display: none;
         height: 0%;
         transition: height 1s ease 1s;
         

         

    }
    #test2 {

         
         display: none;
         height: 0%;
         transition: height 1s ease 1s;
         
         
    }

    #test3 {

         
         display: none;
         height: 0%;
         transition: height 1s ease 1s;
         
         
    }

    #test4 {

         
         display: none;
         height: 0%;
         transition: height 1s ease 1s;
         
         
    }
    #test5 {

         
         display: none;
         height: 0%;
         transition: height 1s ease 1s;
         
         
    }

    #test6 {

         
         display: none;
         height: 0%;
         transition: height 1s ease 1s;
         
         
    }

    #test7 {

         
         display: none;
         height: 0%;
         transition: height 1s ease 1s;
         
         
    }

    img {

        border-radius: 5%;
    }
    h2 {

        width: 40%;
        cursor: pointer;

    }

    h2:hover {


           color: #1BA1C7;
    }

    footer {

         padding: 1%;
    }
    
